@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/Books/AddBook">
    <input type="text" id="title" name="title" />
    <br />
    <input type="text" id="publisher" name="publisher" />

    <br />
    <button type="submit">Submit</button>
</form>
