@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyFirstMVCApp.Models.Book

@section mysection
{
    <div>coming from the view</div>
}


    <h2>Using a model received from the controller</h2>
    <div>@Model.Title</div>
    <div>@Model.Publisher</div>





